<ul class="sidebar-nav">
	<li class="sidebar-header">
		Admin Manager
	</li>
	<li class="sidebar-item">
		<a class="sidebar-link" asp-controller="University" asp-action="Index">
			<i class="align-middle" data-feather="book"></i> <span class="align-middle">University</span>
		</a>
	</li>
	<li class="sidebar-item">
		<a class="sidebar-link" asp-controller="Room" asp-action="Index">
			<i class="align-middle" data-feather="book"></i> <span class="align-middle">Room</span>
		</a>
	</li>
	<li class="sidebar-header">
		University
	</li>
	<li class="sidebar-item">
		<a class="sidebar-link" asp-controller="Booking" asp-action="Index">
			<i class="align-middle" data-feather="book"></i> <span class="align-middle">Booking</span>
		</a>
	</li>
</ul>